{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
<script>
    window.onload = function () {

//import variables 
var screenout = {{ screenout }}; //screenout boolean
var quota= {{ quota }}; //quota boolean
var label = {{ participant_label }}; //m or tic number


// for the purpose of this seminar we have html files instead of links
var url_screenout = "/static/images/ScreenoutLink.html";
var url_quota = "/static/images/QuotaFullLink.html";

//build urls 
//var url_screenout = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=0&return_tic=" + label;
//c_002 = 0

//var url_quota = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=2&return_tic=" + label; 
//c_002 = 2

if (screenout==1) {window.location.replace(url_screenout);}
if (quota==1) {window.location.replace(url_quota);}

}
</script>


{% endblock %}



{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> First Survey Richard Neureuther  </h2>
    <hr>

    <!-- enter field of study-->
    {{ formfield "study_field_question"}}

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}