{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> First Survey Richard Neureuther  </h2>
<hr>

<!-- This is the most basic way of implementing an input field -->
{{ formfield "age_question"}}

<!-- This is the most basic way of implementing error handling -->
{{ formfield_errors 'age_question' }}

<!-- This is a more advances way of implementing a question -->
<!-- the type says what kind of input "field" you would like, the name has to 
be the same as on models.py and the value is what will be displayed in your dataset
if the option is clicked -->

<p><b>Please rank your satisfaction with your study program form 1(not happy at all) to 5 (very satisfied).</b></p>
<input type="radio" name="satisfaction" value="1" /> not happy at all
<br>
<input type="radio" name="satisfaction" value="2" /> 
<br>
<input type="radio" name="satisfaction" value="3" /> 
<br>
<input type="radio" name="satisfaction" value="4" /> 
<br>
<input type="radio" name="satisfaction" value="5" /> very satisfied
<br>
<br>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}