{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}
{% block scripts %}
<script>

    var group_assignment ={ group_assignment };
    var div_group0 = document.getElementById('group0');
    var div_group1 = document.getElementById('group1');

    if (group_assignment == 0) {
        div_group0.style.display = "block";
    }
    if (group_assignment == 1) {
        div_group1.style.display = "block";
    }
</script>

{% endblock %}
{% block content %}
<br>
<h2>First Survey Richard Neureuther </h2>
<hr>

    <h2>End of Survey</h2>

    Thank you for your participation in this survey!
    Your answers have been saved. You can now close this page.
    <br>
    <br>
    <b>Checklist for assignment02:</b>
    <br>
    One numeric answer (age)
    <br>
    One open text answer (name, field of study, additional comments)
    <br>
    One multiple-choice question (satisfaction)
    
    <br>
    <br>
    <b>Checklist for assignment03:</b>
    <br>
    Two different images (question for the image + randomly assigned)
    <br>
    Popout question
    <br>
    Recorded screen size and a timestamps
    <br>



{% endblock %}